body {
    background-color:thistle;
}

ul li{
    list-style-type: none;
    
}

h1 {
    color: rgb(221, 0, 255);
}

table th, td {
    padding: 15px;
    border: 2px solid blueviolet;
}


/*









*/



































/**/