* {
    box-sizing: border-box; /*suma el padding con el width del elemento, no agrega a margin por lo tanto no calcula para que no se haga el scroll*/
    padding: 0;
    margin: 0;
}
html {
    font-size: 75%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.barra_uno li {
    list-style-type: none;
    display: inline-block;
    background-color: chocolate;
    border-radius: 2px;
    font-size: 20px;
    margin: 10px 10px;  
} 

.barra_uno ul li {
    position: relative;
    left: 40%;
}

.navegacion1 {
    background-color: blue;
}





/*
margin: auto; //para centrar en el medio un elemento

para centrar una imagen: Para centrar una imagen, establezca el margen izquierdo y derecho autoy conviértalo en un blockelemento:
img { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/*position: fixed; provoca que al momento de hacer scroll el contenido permanezca visualizandose

pseudoclase: definir el estado especial de un elemento
sintaxis:

selector:pseudo-class {
    property:value;
}

/* unvisited link 
a:link {
    color: #FF0000;
  }
  
  /* visited link 
  a:visited {
    color: #00FF00;
  }
  
  /* mouse over link 
  a:hover {
    color: #FF00FF;
  }
  
  /* selected link 
  a:active {
    color: #0000FF;
  }
  
  Nota: a:hover ¡ DEBE ir después a:linky a:visiteden la definición de CSS para que sea efectivo! a:active¡ DEBE ir después a:hoveren la definición de CSS para ser efectivo! Los nombres de pseudoclases no distinguen entre mayúsculas y minúsculas.




Pseudoelemento: se usa para diseñar partes especificas de un elemento
Sintaxis de los pseudo-elementos:
selector::pseudo-elemento {
    property: value;
}

algunos pseudoelementos:
::first-line
::marker
::after
::before
::first-letter
::first-letterw







background-position
La background-attachment propiedad especifica si la imagen de fondo debe desplazarse o ser fija (no se desplazará con el resto de la página):
tiene 2 valores, fixed o scroll

*/